<div class='container' style="
    width: 100%;
    position: fixed;
    bottom:0;
    width:100%;
    height: 100px;   /* Height of the footer */
    /* background:#6cf; */
    /* bottom: initial; */
">
    <footer class='footer'>
        <small>
            copyright &copy; <a href='https://www.google.co.in'>User blog</a>
        </small>
        <nav>
            <ul>
                <li>
                    <%= link_to "About", users_path%>
                </li>
            </ul>
        </nav>
    </footer>
    
    
</div>